/*************************************

Color Palette
Dark Turquoise:  #0C384D    rgb(8,48,68)
Light Blue:	     #00aeef	rgb(0, 174, 239)
Dark Blue:	     #1c75bc	rgb(28, 117, 188)
Orange:	 	     #f7941e	rgb(247, 148, 30)
Green:		     #82c341	rgb(130,195,65)
Grey:		     #666    	rgb(102,102,102)

Fonts:
	Anton
	open sans
	Fugaz One

**************************************/


/********************************************
Global Styles
********************************************/

html {
  background: url('images/honey-halftone2.png') center repeat-y;
  background-color: #edf0f9;
  height: 100%;
}

body {
  background-color: rgba(255, 255, 255, .7);
  max-width: 1366px;
  margin: 0 auto;
  font-family: open sans, sans-serif;
}

#logo {
  max-width: 30%;
  display: inline;
  float: left;
  margin: 2% 0 0 3%;
}

#banner {
  background: url('images/banner-halftone.png') center no-repeat;
  margin: 0 auto;
  height: 400px;
}

#tagline {
  font-family: Fugaz One, sans-serif;
  color: white;
  font-size: 4em;
  letter-spacing: .05em;
  padding: 5% 0 0 40%;
  margin: 0 0 7% 0;
}

nav {
  display: inline;
  max-width: 60%;
  padding-right: 10%;
}

.navIcon {
  display: inline-block;
  vertical-align: top;
  max-width: 9%;
  margin-left: 5%;
  transition: all .1s ease-in-out;
}

.navIcon:hover {
  transform: scale(1.1);
}

.work {
  /* work icon in nav */
  max-width: 10%;
}

.contact {
  /* contact icon in nav */
  max-width: 13%;
  margin-left: 3%;
}

h1 {
  font-family: Fugaz One, sans-serif;
  font-size: 5em;
  letter-spacing: .05em;
  color: #1c75bc;
  margin-bottom: 1em;
  display: block;
  clear: both;
  text-align: center;
}

h2 {
  font-family: montserrat, sans-serif;
  color: #1c75bc;
}

h3,
h4,
h5,
h6 {
  font-family: open sans, sans-serif;
  color: #1c75bc;
}

a {
  color: #f7941e;
}

a:hover {
  color: #0C384D;
}

p {
  font-family: open sans, sans-serif;
  font-size: 12px;
  line-height: 18px;
}

footer {
  margin: 0 auto;
  background: url('images/footer.png') center no-repeat;
  font-family: open sans, sans-serif;
  color: white;
  padding-top: 2%;
  height: 400px;
}

footer p {
  font-size: 1em;
  padding: 0 0 0 3%;
}

.social {
  padding-top: 20%;
}

.socialIcon {
  display: inline;
  max-width: 30px;
  padding-left: 20px;
}

.top {
  display: block;
  clear: both;
  text-align: center;
  margin-bottom: 2em;
}

.top a {
  width: 100%;
  font-family: fugaz one, sans-serif;
  color: #f7941e;
  font-size: 2em;
}


/********************************************
Wrapper Styles
********************************************/

#wrapper {
  margin: 0 auto;
}

.aboutText,
.intro {
  width: 100%;
  background: rgb(0, 174, 239);
  /* -webkit-clip-path: polygon(0 0, 1366px 0, 1366px 80%, 0 100%);
  clip-path: polygon(0 0, 1366px 0, 1366px 80%, 0 100%); */
  position: relative;
}

.intro {
  margin-bottom: 5em;
}

.introParagraph {
  font-family: montserrat, sans-serif;
  width: 65%;
  margin: 0 auto;
  font-size: 1.25em;
  padding: 2% 5%;
  color: white;
  letter-spacing: .1em;
  line-height: 1.5em;
}


/********************************************
About Styles
********************************************/

.briSquatch {
  margin: 0 auto;
  text-align: center;
  margin-bottom: -1%;
  position: relative;
  z-index: 1;
}

.contactLink,
.spec a {
  color: rgb(8, 48, 68);
}

.contactLink:hover,
.spec a:hover {
  color: #f7941e;
}


/********************************************
Portfolio Styles
********************************************/


/* Tooltip container */

.tooltip {
  position: relative;
  display: inline-block;
  text-decoration: underline;
  color: #f7941e;
}


/* Tooltip text

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}
*/


/* end Tooltip text */

.portOptions {
  font-family: open sans, sans-serif;
  font-size: 1em;
  text-align: center;
  margin-bottom: 4em;
  letter-spacing: .1em;
}

.portOptions h1,
.portOptions h2 {
  margin: 0;
  padding: 0;
  color: #f7941e;
}

.portOptions h2,
.portOptions p {
  display: inline;
  margin: 0 1em;
}

.tooltip {
  display: inline;
}

.works {
  display: block;
  clear: both;
  margin: 0 auto;
  margin-bottom: 5%;
  border-bottom: 15px solid rgb(222, 237, 247);
}

.description {
  max-width: 100%;
  padding: 1% 5%;
  margin: 0 0 1em 0;
}

.description h3,
.description h4,
.description h5 {
  display: inline;
  font-family: montserrat, sans-serif;
  margin-right: 5%;
}

.description h4 {
  color: #F7931E;
}

.description h5 {
  margin: 0;
  float: right;
}

.description p {
  max-width: 40%;
}

.github {
  font-family: montserrat, sans-serif;
  font-size: 1.25em;
  text-align: right;
  margin: 0 5% 5% 0;
}

.github a {
  text-decoration: none;
}

.winning {
  display: inline;
  color: #f7941e;
  font-size: 1.2em;
}

#screenshots {
  text-align: center;
}

#screenshots img {
  cursor: pointer;
  transition: 0.3s;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 20px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: scroll;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}


/* Modal Content (Image) */

.desktop {
  max-width: 800px;
  vertical-align: top;
  margin: 1%;
}

.desktop:hover {
  opacity: .6;
  cursor: pointer;
}

.iPad {
  max-width: 20%;
  vertical-align: top;
  margin: 1%;
}

.iPad:hover {
  opacity: .6;
  cursor: pointer;
}

.iPhone {
  max-width: 10%;
  vertical-align: top;
  margin: 1%;
}

.iPhone:hover {
  opacity: .6;
  cursor: pointer;
}


/* Add Animation - Zoom in the Modal */

.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}


/* The Close Button */

.close1,
.close2,
.close3,
.close4,
.close5,
.close6,
.close7,
.close8,
.close9,
.close10,
.close11,
.close12 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close1:hover,
.close2:hover,
.close3:hover,
.close4:hover,
.close5:hover,
.close6:hover,
.close7:hover,
.close8:hover,
.close9:hover,
.close10:hover,
.close11:hover,
.close12:hover,
.close1:focus,
.close2:focus,
.close3:focus,
.close4:focus,
.close5:focus,
.close6:focus,
.close7:focus,
.close8:focus,
.close9:focus,
.close10:focus,
.close11:focus,
.close12:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}


/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}


/********************************************
Contact Form
********************************************/

.antispam {
  display: none;
}

.contactForm form {
  max-width: 40%;
  margin: 5% auto;
  text-align: left;
  background: rgba(0, 174, 239, .5);
  padding: 5% 0 5% 5%;
  border: 5px ridge rgb(0, 174, 239);
}

.contactForm p {
  font-size: 1.2em;
  color: #0C384D;
}

.contactForm input {
  width: 80%;
  height: 30px;
  font-size: 1.3em;
}

.contactForm textarea {
  width: 80%;
  height: 100px;
  font-size: 1.3em;
}

.success {
  font-size: 2em;
}

.success p,
.return p {
  text-align: center;
  font-size: 1em;
}

button {
  width: 150px;
  height: 50px;
  font-family: montserrat, sans-serif;
  background: #f7941e;
  color: white;
  border-radius: 10px;
  font-size: 1em;
}

.wsEmail {
  text-align: center;
}


/********************************************
Media Queries
********************************************/

@media (min-width: 1025px) {}

#tagline {
  font-size: 3.5em;
}

@media (min-width: 481px) and (max-width: 1024px) {
  #tagline {
    font-size: 2.5em;
    line-height: 1em;
  }
  .desktop {
    max-width: 100%;
    margin: 0 auto;
  }
  .description {
    position: relative;
    display: block;
    clear: both;
    float: right;
    max-width: 50%;
    margin: -10% 0 5% 0;
    left: 0;
    box-shadow: none;
    background: rgba(28, 117, 188, .9);
    color: white;
  }
  .description h3,
  .description h4,
  .description p {
    color: white;
  }
  .rightP {
    margin: auto;
    padding: 3%;
  }
  footer {
    width: 100%;
    background: none;
  }
  .top {
    font-size: .75em;
  }
  footer p {
    padding: 3% 0;
    margin: 0;
    color: rgb(28, 117, 188);
    text-align: center;
  }
}

@media (max-width: 480px) {
  body {
    display: inherit;
  }
  #logo {
    max-width: 80%;
    float: none;
    display: block;
    margin: 0 auto;
  }
  #banner {
    max-width: 400px;
  }
  #wrapper {
    margin: 0 auto;
  }
  #tagline {
    display: block;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    margin: 1em 0 1.5em 0;
    color: #f7941e;
  }
  nav {
    position: relative;
    display: block;
    clear: both;
    max-width: 400px;
    padding: 0;
    text-align: center;
  }
  .navIcon {
    margin: 0;
    padding-right: 10px;
  }
  .about {
    max-width: 60px;
  }
  .work {
    /* work icon in nav */
    max-width: 70px;
    padding-right: 15px;
  }
  .blog {
    max-width: 60px;
    padding-right: 0;
  }
  .contact {
    /* contact icon in nav */
    max-width: 90px;
    padding: 0;
  }
  h1 {
    font-size: 2em;
    margin-top: 1.5em;
    line-height: .85em;
  }
  h2 {
    font-size: 1em;
  }
  .portOptions h1 {
    font-size: 2.9em;
    margin-top: 2em;
    margin-bottom: .25em;
  }
  .introParagraph {
    font-size: 1em;
    width: 90%;
    padding: 2%;
  }
  .magnify {
    display: block;
    padding: 0;
    margin: 0;
  }
  .works {
    padding: 0;
    margin: 10% 0;
    min-height: 100%;
  }
  .desktop {
    max-width: 90%;
    padding: 0;
    margin: 0;
  }
  .description {
    position: relative;
    display: block;
    clear: both;
    float: right;
    max-width: 80%;
    margin: -20% 0 5% 0;
    left: 0;
    box-shadow: none;
    background: rgba(28, 117, 188, .9);
    color: white;
  }
  .description h3,
  .description h4,
  .description p {
    color: white;
  }
  .rightP {
    margin: auto;
    padding: 3%;
  }
  .top {
    font-size: .75em;
  }
  .contactForm form {
    max-width: 80%;
  }
  .thanks h1 {
    margin-top: 2em;
    font-size: 2em;
  }
  .success,
  .return {
    font-size: 1em;
  }
  footer {
    background: none;
  }
  footer p {
    padding: 3% 0;
    margin: 0;
    color: rgb(28, 117, 188);
    text-align: center;
  }
}
